<% provide(:title, 'Add New Item') %>
<h1>Add a New Item to Trade</h1>

<div class="row">
  <div class="span6 offset0">
    <%= simple_form_for(@possession) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :value %>
			 <%= f.hidden_field :trade_id %>
      <%= f.submit "Add Item", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <%= render 'layouts/tips' %>
</div>
